body {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    background-color: black;
    
}

#canvas1 {
    background: radial-gradient(rgb(153, 153, 228),rgb(78, 78, 210), rgb(35, 35, 220),navy, black);
    position: relative;
    top: 0;
    left: 0;
   
}

.container {
    display: flex;
   background:radial-gradient( rgb(35, 35, 220),navy,black);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color:white;
}

.column {
    flex:40%;
    background-color:rgba(108, 162, 179, 0.3);
    border-radius: 35px;
margin: 20px;
  padding: 20px;
    
  }
  
  /* Clear floats after the columns */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  #sop-expression{
    display: none;
  }
  #toggleButton {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  #toggleButton.on {
    background-color: #236e58;
  }
  
  #toggleButton.off {
    background-color: #80150d;
  }