.tutorial {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.tutorial h3 {
    color: rgb(196, 184, 184);
  
}


circle {
    stroke: black;
    stroke-width: 1.5;
    fill: white;
}

text {
    font-size: 12px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: #1c1e20;
    background: -moz-radial-gradient(center, circle cover, #5c0a04 0%, #1c1e20 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #5c0a04), color-stop(100%, #1c1e20));
    background: -webkit-radial-gradient(center, circle cover, #5c0a04 0%, #1c1e20 100%);
    background: -o-radial-gradient(center, circle cover, #5c0a04 0%, #1c1e20 100%);
    background: -ms-radial-gradient(center, circle cover, #5c0a04 0%, #1c1e20 100%);
    background: radial-gradient(center, circle cover, #5c0a04 0%, #1c1e20 100%);
    background-color: #2b2b2b;
    color: #fff;
}
.container {
    max-width: 1000px; /* Increased the width */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
button {
    width: 150px; /* Adjusted the width */
    background-color: #6c757d; /* Changed the color */
    color: white;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #5a636e;
}
#hasseDiagram {
    margin-top: 20px;
    width: 90%; /* Increased width percentage */
    border: 1px solid #ccc;
}